<main class="text-gray-200 p-3 mx-auto">
  <div class="flex">
    <div class="rounded-lg bg-gray-600 h-24 min-w-24 p-4 text-center">
      <p class="capitalize mb-3 border-2 border-dotted border-gray-800 rounded-md p-1">Total projects</p>
      <p class="font-bold bg-gray-800 rounded-md">200</p>
    </div>
  </div>
</main>