<div data-toggle-target="notificationCard" class="absolute right-0 mt-4 hidden bg-gray-500 w-96 h-fit p-4 rounded-md font-semibold capitalize">
  <ul>
    <% current_user.notifications.each do |notification| %>
      <%=notification.message%>
    <%end%>
  </ul>
</div>