<div data-toggle-target="notificationCard" class="absolute right-0 mt-4 hidden bg-gray-500 w-96 h-fit p-4 rounded-md font-semibold capitalize">
  <ul>
    <li class="mb-2">
      notification one
    </li>
    <li>
      notification two
    </li>
  </ul>
</div>