<div data-toggle-target="profileCard" class="absolute right-0 mt-4 hidden bg-gray-500 size-32 p-4 rounded-md font-semibold capitalize">
  <ul>
    <li class="mb-2">
      <%=link_to "Profile", edit_user_registration_path %>
    </li>
    <li>
      <%=link_to "Logout", destroy_user_session_path, method: :delete, data:{turbo_method: :delete}%>
    </li>
  </ul>
</div>