<div data-controller="toggle" class="min-h-screen bg-gray-900">
  <%= render "dashboard/admin_nav"%>
  <div class="flex w-full">
    <%=render "dashboard/sidebar"%>
    <%= render "dashboard/main"%>
  </div>
</div>