
<%= turbo_frame_tag :modal do %>
  <div class="fixed inset-0 bg-gray-500 opacity-75"></div>
  <div class="fixed inset-0 mt-8 p-4 bg-gray-800 size-96 my-4 rounded-md mx-auto">
    <%@projects.each do |project|%>
    <div class="p-2">
      <ul>
        <li class="text-gray-200 border-b border-gray-400">
          <%= link_to project.name, project_path(project), data:{turbo_frame: "_top"} %>
        </li>
      </ul>
    </div>
    <%end%>
    <div class="absolute top-2 right-2">
      <%= link_to "javascript:history.back()" do %>
          <%= inline_svg_tag("close.svg", class:"text-gray-100 hover:text-gray-200 cursor-pointer")%>
      <%end%>
    </div>
  </div>
<%end%>
